button {
    cursor: pointer;
}

.post {
   padding: 50px 0 50px;
}
.post__header-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
    object-fit: cover;
}

.post__header-div {
    display: flex;
}

.open-modal {
    margin: 50px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.modal-content > button {
    width: 70px;
    height: 20px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#open-modal {
    position: absolute;
    top: 10px;
    left: 10px;
    
}